h1,
h2,
h3 {
  font-family: fantasy;
  text-align: center;
}
h1 {
  color: navy;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
}
h2 {
  color: firebrick;
  font-size: 35px;
}
h3 {
  color: firebrick;
  font-size: 30px;
}
p {
  color: darkslategrey;
  font-size: 17px;
  font-family: sans-serif;
}
li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  font-style: oblique;
  color: goldenrod;
  font-size: 18px;
}
footer p {
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  text-align: center;
}

#author {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  /*
  margin-top: -5%;
  */
}
#copyright {
  font-style: italic;
}
body {
  background-color: rgb(209, 230, 246);
}
.description {
  font-weight: 600;
}
.related-posts {
  list-style: none;
}
.main-header {
  background-color: rgba(138, 200, 255, 0.586);
}
aside {
  background-color: antiquewhite;
  border-top: 4px solid cadetblue;
  border-bottom: 4px solid cadetblue;
}
/*
li:nth-child(odd) {
  color: chocolate;
}
*/
/* Styling Hyperlinks */
a:link {
  color: darkgreen;
  text-decoration: none;
}
a:visited {
  color: darkgreen;
  text-decoration: none;
}
a:hover {
  color: crimson;
  text-decoration: underline orangered;
  font-weight: bold;
}
a:active {
  background-color: blue;
}
